{{#if sucess_msg}}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{sucess_msg}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
  <span aria-hidden="">&times;</span>
</div>
{{/if}}